@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html *{
  font-family: 'Roboto', sans-serif;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h4{
  text-align: center
}

.site-logo{
    height: 50px;
}


.jumbotron {
  background: url("img/bigred.jpg")center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  min-height: 600px;
}

.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 75%;
}

.page-footer{
  background-color:lightblue;
  border-color: orange;
  color: white;
 }

.page-footer a{
  color: white;
 }

/*---Resume Specific --*/
p.rescontact{
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  text-align:right;
}

hr.resume{
  border-top: 2px solid #b4b4b4;
  width: 50%;
}

hr.skills{
  border-top: 2px solid #b4b4b4;
  width: 75%;
}

.company{
  font-weight: bold;
  color: blue;
}

.compdescription{
  font-style: italic;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








